// colors
$primary: #3f72af;
$primary-variant: #37619d;
$secondary: #112d4e;
$surface: #dbe2ef;
$background: #f9f7f7;

// thickness
$none: 0px;
$thin: 1px;
$regular: 2px;
$thick: 3px;

// sizes
$none: 0px;
$xs: 2px;
$sm: 4px;
$md: 6px;
$lg: 8px;
$xl: 16px;

