@import "variables";
@import "global-media-query";
@import "utils";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $background;
}

main {
  padding: 32px;
}