@import "../../../styles/variables";

.margin_wrapper {
  background-color: orange;
  border-radius: $sm;
  .margin_content {
    text-align: center;
    text-transform: capitalize;
    border: $thin solid black;
    border-radius: $sm;
  }
}
