@import "../../../styles/variables/colors";
@import "../../../styles/variables/border";
@import "../../../styles/variables/spacing";

.grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: $lg;
}

.margin_wrapper {
  background-color: orange;
  border-radius: $sm;
  .margin_content {
    text-align: center;
    text-transform: capitalize;
    border: $thin solid black;
    border-radius: $sm;
  }
}
