.color {
  text-transform: capitalize;
  width: 125px;
  max-width: 125px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  .color_hex {
    text-transform: uppercase;
    opacity: 80%;
  }
}
