@import "../../../styles/variables";

.grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: $lg;
}

.gap_wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  .gap_content {
    background-color: lightblue;
    height: 100%;
  }
}
